
@{
    ViewData["Title"] = "VerificaMaiorEMenor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pessoa com menos e pessoa com mais dinheito</h2>
<hr />
<br />
<div>
    <p>A pessoa com menos dinheiro é @ViewBag.NomePessoaComMenosDinheiro com o total de @ViewBag.DinheiroPessoaComMenosDinheiro reais. </p>
    <p>A pessoa com mais dinheiro é @ViewBag.NomePessoaComMaisDinheiro com o total de @ViewBag.DinheiroPessoaComMaisDinheiro reais. </p>
</div>
<br />
<div>
    <a asp-action="Index">Voltar para a lista de pessoas</a>
</div>




